<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Layout/_MetaData" />
    <partial name="Bundles/_StyleSheetBundles" />
</head>
<body>
    <!-- Navigation-->
   <vc:navbar/>
    <!-- Page Header-->
    <vc:header />
    <!-- Main Content-->
    @RenderBody()
    <!-- Footer-->
    <partial name="Layout/_Footer" />
    <partial name="Bundles/_JavaScriptBundles" />
</body>
</html>